.sign-in-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
form {
  border: rgba(255, 255, 255, 0.451) solid 1px;
  padding: 30px 20px 50px;
  width: 400px;
  border-radius: 10px;
  transition: 0.5s;
  background-image: linear-gradient(
    to right,
    #161a18 0%,
    #282c2a 51%,
    #161a18 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 10px rgba(124, 124, 124, 0.322);
}

h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

form:hover {
  background-position: right center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 50px;
  border: rgba(255, 255, 255, 0.451) solid 1px;
  padding: 10px 20px;
  border-radius: 7px;
  outline: 0;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(124, 124, 124, 0.322);
  background-color: transparent;
  color: #ffffffd7;
}

input::placeholder {
  color: #ffffff73;
}

input:focus {
  border: rgb(253, 253, 253) solid 1px;
}

img {
  position: absolute;
  width: 18px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
button {
  font-family: "livvic-m";
  font-size: 14.5px;
  letter-spacing: 1.2px;
  color: #232725;
  font-weight: bold;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-radius: 7px;
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.remember-me-cont {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.remember-me {
  display: inline-block;
  color: #ffffffbd;
  margin-left: 5px;
  font-size: 13px;
}
